* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Open Sans', sans-serif;
}

.none {
  display: none;
}

/* Layout  */

#page {
  width: 100%;
  height: calc(100vh - 90px);
  display: flex;
  overflow: hidden;
}

#player-bar {
  background-color: #282828;
  width: 100%;
  height: 90px;
  overflow: hidden;
}

/* Content  */

.content {
  background-color: #141923;
  width: calc(100vw - 230px);
  height: 100%;
  overflow: auto;
}

.content .list-type {
  padding-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.content .list-type ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-around;
  align-items: center;
}

.content .list-type ul li {
  padding: 10px 10px;
  color: #7B7D82;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content .list-type ul li::after {
  content: "";
  width: 100%;
  border-bottom: 4px solid #141923;
  border-radius: 10px;
}

.content .list-type ul .active::after {
  content: "";
  width: 30px;
  border-bottom: 4px solid green;
  border-radius: 10px;
}

.content .list-type ul li:hover {
  color: white;
}

h2 {
  font-size: 25px;
  color: white;
  padding-left: 20px;
  padding-top: 30px;
}

h5 {
  font-size: 14px;
  color: #7B7D82;
  padding-left: 20px;
  padding-top: 10px;
}

.content .played,
.content .hint,
.content .artist {
  width: 100%;
  padding-left: 20px;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.content .artist {
  padding-bottom: 50px;
}

.content .played .card {
  width: calc(100% / 6 - 30px);
  max-width: 175px;
}

.content .hint .card,
.content .artist .card {
  width: calc(100% / 5);
  max-width: 178px;
}

.content .played .card .img,
.content .hint .card .img,
.content .artist .card .img {
  position: relative;
  cursor: pointer;
}

.content .played .card .img span,
.content .hint .card .img span,
.content .artist .card .img span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content .played .card .img i,
.content .hint .card .img i,
.content .artist .card .img i {
  display: none;
  position: absolute;
  font-size: 30px;
}

.content .played .card img,
.content .hint .card img {
  width: 100%;
  height: 100%;
  padding: 5px;
}

.content .played .card .img:hover i,
.content .hint .card .img:hover i,
.content .artist .card .img:hover i {
  display: block;
}

.content .played .card img:hover,
.content .hint .card img:hover {
  filter: opacity(50%);
}

.content .artist .card img:hover {
  filter: opacity(50%);
}

.content .artist .card img {
  width: 100%;
  border-radius: 50%;
  padding: 5px;
}

.content .played .card .bio,
.content .hint .card .bio,
.content .artist .card .bio {
  width: 100%;
  text-align: center;
  padding-top: 15px;
  padding-right: 15px;
}

h3 {
  color: white;
  font-size: 18px;
}

.content .played .card .bio h5 {
  padding-left: 0;
}

/* Content/Bar  */

.bar {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  width: calc(100vw - 230px);
  height: 90px;
}

.bar .button {
  display: flex;
  justify-content: flex-end;
}

.bar button {
  background-color: rgba(0,0,0,0);
  font-size: 12px;
  color: white;
  padding: 12px 40px;
  border-radius: 30px;
  margin: 20px 20px;
}

.bar button:hover {
  font-size: 15px;
}


/* Side-bar  */

.side-bar {
  background-color: #000000;
  width: 230px;
  height: 100%;
  min-height: 450px;
}

.side-up {
  width: 100%;
  height: calc(100% - 80px);
}

.side-up .long {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.side-up .long .logo .img {
  width: 70%;
  padding: 20px 15px;
}

.side-up .long .selector {
  width: 70%;
}

.side-up .long .selector ul {
  list-style: none;
}

.side-up .long .selector ul li {
  padding: 5px 15px;
  border-left: 3px solid black;
}

.side-up .long .selector ul .active {
  border-left: 3px solid #008000;
}

.side-up .long .selector ul li a {
  padding: 5px 0;
  font-size: 15px;
  cursor: pointer;
  text-decoration: none;
  color: #646464;
  opacity: 0.8;
}

.side-up .long .selector ul li a:hover {
  opacity: 2;
  color: white;
}

.side-up .long .selector ul li a img {
  width: 25px;
  vertical-align: middle;
}


.side-up .long .playlist {
  width: 100%;
  height: 100%;
  padding-left: 15px;
}

.side-up .long .playlist h4 {
  color: white;
  padding-top: 15px;
  padding-left: 5px;
  font-size: 15px;
}

.side-up .long .playlist .new {
  color: #646464;
  padding: 5px;
  position: relative;
  cursor: pointer;
}

.side-up .long .playlist .new:hover {
  color: white;
}

.side-up .long .playlist .new i {
  font-size: 40px;
  padding-right: 10px;
}

.side-up .long .playlist .new span {
  position: absolute;
  top: 15px;
}

.side-up .long .playlist ul {
  color: #646464;
  list-style: none;
}

.side-up .long .playlist .list {
  width: 100%;
  height: 43%;
  overflow: auto;
}

.side-up .long .playlist .list ul li {
  font-size: 15px;
  padding: 7px 5px;
  cursor: pointer;
}

.side-up .long .playlist .list ul li:hover {
  color: white;
}

.side-down {
  width: 100%;
  height: 80px;
}

.side-down .long {
  padding-left: 15px;
}

.side-down .long .install {
  border-bottom: 2px solid #646464;
  width: 90%;
  padding-top: 10px;
  padding-bottom: 5px;
  cursor: pointer;
}

.side-down .long .install:hover span {
  color: white;
}

.side-down .long .install span {
  color: #646464;
  font-size: 15px;
}

.side-down .long .install span i {
  font-size: 14px;
  padding-right: 5px;
}

.side-down .long .user {
  padding-top: 10px;
  color: white;
}

.side-down .long .user span {
  font-size: 18px;
  padding-right: 5px;
}

.side-down .long .user span img {
  width: 25px;
  background-color: grey;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 5px;
}


/* short bar  */

.side-up .short .logo img {
  width: 100%;
  padding: 8px;
}

.side-up .short .list-item li {
  padding: 1px 8px;
}

.side-up .short .list-item li img {
  opacity: 0.5;
}

.side-up .short .list-item li img:hover {
  opacity: 2;
  cursor: pointer;
}

.side-down .short {
  width: 30px;
  position: relative;
}

.side-down .short ul {
  list-style: none;
}

.side-down .short li:first-child {
  width: 20px;
  position: absolute;
  top: 0;
  left: 12px;
}

.side-down .short li:first-child img:hover  {
  cursor: pointer;
}

.side-down .short li:first-child img {
  opacity: 0.5;
}

.side-down .short .user img {
  background-color: #5B5B5B;
  border-radius: 50%;
  width: 30px;
}

.side-down .short li:last-child {
  position: absolute;
  top: 37px;
  left: 9px;
}

/* Player-bar  */
#player-bar .block {
  display: flex;
  justify-content: space-between;
  height: 90px;
  align-items: center;
}

#player-bar .track {
  display: flex;
  align-items: center;
  width: 200px;
}

#player-bar .track .img {
  width: 100%;
  padding-left: 20px;
}

#player-bar .track img {
  min-width: 25px;
  width: 90%;
}

#player-bar .track .name {
  padding-left: 10px;
  width: 100%;
}

#player-bar .track .name span {
  color: white;
  font-size: 12px;
}

#player-bar .track .name a {
  color: #646464;
  font-size: 8px;
  position: relative;
  top: -10px;
  text-decoration: none;
}

#player-bar .track .name a:hover {
  color: white;
  text-decoration: underline;
}

#player-bar .track .preference {
  width: 100%;
}

#player-bar .track .preference i {
  color: #646464;
  font-size: 17px;
  padding-left: 10px;
  cursor: pointer;
}

#player-bar .track .preference i:hover {
  color: white;
}

#player-bar .instrument {
  display: flex;
  align-items: flex-end;
  width: 200px;
}

#player-bar .instrument i {
  font-size: 15px;
  color: white;
  padding-left: 15px;
}

.line {
  width: 80px;
  height: 8px;
  background-color: #5B5B5B;
  border: 1px solid black;
  margin: 8px 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.line:hover .time {
  background-color: green;
  border: 1px solid green;
}

.line:hover .ball  {
  display: block;
}

.line .time {
  width: 30px;
  height: 100%;
  border: 1px solid black;
  background-color: #BEBEBE;
  border-radius: 10px;
}

.line .ball {
  width: 13px;
  height: 13px;
  background-color: white;
  border-radius: 50%;
  display: none;
}

#player-bar .player {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 50%;
}

#player-bar .player .keys {
  display: flex;
  justify-content: space-around;
  width: calc(100% / 5);
  height: 50%;
}

#player-bar .player .keys i {
  font-size: 15px;
  color: white;
  cursor: pointer;
  padding-left: 5px;
}

#player-bar .player .keys .play {
  width: 30px;
}

#player-bar .player .keys .play i {
  font-size: 25px;
  vertical-align: middle;
}

#player-bar .player .keys .play:hover i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

#player-bar .player .timetrack {
  display: flex;
  width: 80%;
  min-width: 150px;
}

#player-bar .player .timetrack .line {
  width: 80%;
  margin-top: 15px;
  margin: auto;
}

#player-bar .player .timetrack .line .time {
  width: 30%;
}

#player-bar .player .timetrack span {
  color: white;
  font-size: 11px;
  padding: 10px 15px;
}

/* Media query  */

@media screen and (max-width: 900px) {
  .content .played .card {
    width: calc(100% / 4);
  }

  .content .hint .card,
  .content .artist .card {
    width: calc(100% / 3);
}
}

@media screen and (max-width: 700px) {
  .content .played .card {
    width: calc(100% / 2);
  }

  .content .hint .card,
  .content .artist .card {
    width: calc(100% / 2);
}
}

@media screen and (max-width: 600px) {

  .content .played .card {
    width: calc(100% / 2);
    max-width: 300px;
  }

  .content .hint .card,
  .content .artist .card {
    width: calc(100% / 2);
    max-width: 300px;
  }
  
  .side-bar {
    width: 50px;
  }

  .content {
    width: calc(100vw - 50px);
  }

  .bar {
    width: calc(100vw - 50px);
  }

  .side-bar .long {
    display: none;
  }

  .side-bar .short {
    display: block;
  }


}